// Variables
	/* Variables are placeholders for sharing information that you want to reuse throughout your stylesheet. */
	/* You can store things like colours, font-stacks or any css value you can think of. */
	/* Variables are declared using a '$' */
	
// Colors	
$primary: #FFF;
$background: url("http://i.huffpost.com/gen/1279332/thumbs/o-LULULEMON-SIZES-facebook.jpg");

// Fonts
$arial: Arial, Helvetica, sans-serif;